@charset "UTF-8";

.wrapper{
  width: 1100px;
  margin: 0 auto;
}

.size-change{
  background-color: #ff0000;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.colorchange{
  background-color: #ff0000;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.margin-container{
  position: relative;
  overflow: hidden;
}

.margin-content{
  position: relative;
  left: 50%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
  float: left;
}

.margin-box{
  position: relative;
  float: left;
  left: -50%;
}

.margin-left-box{
  background-color: #0008ff;
}

.margin-right-box{
  background-color: #22ff00;
}

.float-container{
  display: block;
  overflow: hidden;
}

.float-box{
  float: left;
  width: 300px;;
  height: 300px;
  text-align: center;
}

.float-red-box{
  background-color: #ff0000;
}
.float-blue-box{
  background-color: #0008ff;
}

@media screen and (max-width:960px){
  .size-change{
    background-color: #ff0000;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .colorchange{
    background-color: #007bff;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .margin-container{
    margin: 0 auto;
  }

  .margin-box{
    margin-left: 50px;
  }


}