@charset "UTF-8";

.size-change{
  background-color: #ff0000;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.colorchange{
  background-color: #ff0000;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.margin-container{
  display: flex;
  margin: 0 auto;
}

.margin-box{
  width: 300px;
  height: 300px;
  margin-left: 150px;
}

.left-box{
  background-color: #0008ff;
  margin-left: 0;
}

.right-box{
  background-color: #22ff00;
}


@media screen and (max-width:960px){
  .size-change{
    background-color: #ff0000;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .colorchange{
    background-color: #007bff;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .margin-container{
    margin: 0 auto;
  }

  .margin-box{
    margin-left: 50px;
  }
}